<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Registration completed successfully</h2>
        <p>You can now move to the login page</p>
        <hr />
        <p>Thank you!</p>
        <div class="form-group text-middle">
            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Continue to Login</a>
        </div>
    </div>



</div>